* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #dfdfdf;
}

h1,
h2 {
  color: #333333;
}
.hello {
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
  background-color: white;
}

.norepeat {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 400px;
  width: 100%;
  border-radius: 4px;
  margin: 5px;
}
.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #800040;
  color: white;
  border: 1px solid #800040;
  margin: auto;
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
}

.btn:hover {
  background-color: #9c1458;
  border-color: #9c1458;
}

.btn--alt {
  background-color: transparent;
  color: #800040;
}

.btn--alt:hover {
  background-color: #f8dae9;
}

.yummy {
  border-radius: 4px;

  padding: 1px;
  padding-bottom: 10px;
  margin: auto;
  width: 10rem;
  text-align: center;
}

.yo {
  display: flex;
  align-items: auto;
  width: 100%;
}

.hendo {
  padding-bottom: 25px;
}

.card {
  background-color: wheat;
  background-position: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

  padding-bottom: 25px;
  width: 50%;
  margin: 3px;
}

.pay {
  background-color: wheat;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  width: 100%;
  text-align: center;
  vertical-align: auto;
}

.two {
  height: 70px;
  text-align: center;
}

.three {
  width: 100%;
  margin-top: 15px;
  padding-top: 15px;
}

.actions {
  text-align: right;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
